body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black
}

button {
    background: none;
    color: purple;
    border: 2px solid purple;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
    border-color: #ff3bff;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #ff3bff;
    transform: translateY(-0.2em);
    cursor: pointer;
}
